<!DOCTYPE html>
<html>
  <head>
    <title>Craigstr</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Craigstr", root_path , id: "logo" %>


<% if signed_in? %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "My Posts", current_user %>
    <% if current_user.admin? %>
      <%= link_to "Moderate Spam", admin_dashboard_path %>
    <% end %>
    <%= link_to "Sign out", session_path, method: :delete %>
  </nav>
<% end %>
          <% if signed_in? %>
            <nav class="nav pull-right">
                <%= link_to "Home", root_path %>
                <%= link_to "My Posts", current_user %>
                <%= link_to "Sign out", session_path, method: :delete %>
            </nav>
          <% end %>
        </div>
      </div>
    </header>


    <div class="container">
      <div class="center hero-unit">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
