<!DOCTYPE html>
<html>
<head>
  <title>Craigstr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "My Posts", current_user %>
    <%= link_to "Sign out", session_path, method: :delete %>
  </nav>
<% end %>

<h1>Craigstr</h1>

<%= yield %>

</body>
</html>
